<div class="block">
  <article class="message is-warning">
    <div class="message-header">
    <p>About us</p>
    </div>
    <div class="message-body">
      <p class="content is-medium">This is the about page.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a pulvinar risus. Aliquam malesuada venenatis nulla a suscipit. Praesent cursus, massa sed vehicula iaculis, odio mi varius lectus, vel volutpat ex odio in nisi. Etiam et ultricies libero. Nam maximus, metus et luctus vestibulum, magna risus dictum lorem, eu congue nisi arcu in nunc. Sed imperdiet nunc quis aliquam faucibus. Nullam efficitur sodales sapien, a laoreet lectus facilisis vel. 
      </p>
    </div>
  </article>
</div>