<div class="block">
  <article class="message is-warning">
    <div class="message-header">
      <h1 class="title is-1">Drink Posts -feed</h1>
    </div>
    <div class="message-body">
      {{#if blogposts.length}}
      {{#each blogposts}}
      <div class="card mb-5">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="../{{image}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="http://www.pngall.com/wp-content/uploads/5/Profile-PNG-Images.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Lucas Strand</p>
            </div>
          </div>

          <div class="content">
            <a href="/blogposts/{{id}}">{{title}}
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <p>There are no blogposts</p>
      {{/if}}
    </div>
  </article>
</div>