<div class="block">
  <section class="hero is-warning">
    <div class="hero-body">
      {{!-- <div class="navbar-brand"> 
        <img src="http://www.pngall.com/wp-content/uploads/5/Profile-PNG-Images.png" width="112" height="112">
      </div>--}}
      <div class="columns is-mobile is-centered is-vcentered">
        <div class="column">
          <img src="http://www.pngall.com/wp-content/uploads/5/Profile-PNG-Images.png" width="128" height="128">
          <div class="has-text-justified">
            <span>
              <a href="" class="	has-text-black"><i class="fa fa-twitter"></i>Twitter</a>
            </span>
            <span>
              <a href="" class="has-text-black "><i class="fa fa-facebook"></i>acebook</a>
            </span>
          </div>
        </div>
        <div class="column">
          <span class="title">Lucas Strand</span><br>
          <span class="subtitle">Creator of this website, an actual insanely big brained programmer</span>
        </div>
      </div>
    </div>
  </section>
</div>