<div class="block">
  <div class="cloumns">
    <div class="column is-three-quarters">
      <h1 class="title">New drink-post! </h1>



      <div class="block">
        <form action="/createblogpost/?_csrf={{token}}" method="POST" enctype='multipart/form-data'>
          <div class="field">
            <label class="label">Title</label>
            <input required type="text" class="input is-dark" placeholder="Enter title" name="title">
          </div>

          <div class="file">
            <label class="file-label">
              <input class="file-input" type="file" name="image">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>

          <div class="field">
            <label class="label">Article</label>
            <p class="control">
              <textarea required type="submit" class="textarea is-dark" placeholder="Textarea"
                name="article"></textarea>
            </p>
            <div class="block">
            </div>
            <a href="/" class="button is-dark">Cancel</a>
            <input class="button is-warning" type="submit" value="Create Article">
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

</div>
</div>



<section class="hero is-white is-medium">
  <div class="hero-body">

  </div>
</section>
</div>


{{!-- <div class="field">
          <label class="label">Type of drink</label>
          <p class="control">
            <span type="text" class="select is-dark">
              <select>
                <option>Beer</option>
                <option>Cider</option>
                <option>Wine</option>
                <option >Drink/Grog</option>
                <option>Whiskey/Burbon</option>
                <option>Spirits</option>
                <option>Alcohol free</option>
              </select>
            </span>
          </p>
        </div> --}}