<div class="hero is-fullheight is-warning">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <h3 class="title has-text-white">Login</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-white">Please login to see our cool stuff!</p>
        <div class="box">
          <div class="box">
            <img src="http://pngimg.com/uploads/beer/beer_PNG2382.png" width="320" height="180">
          </div>
          <div class="title has-text-grey is-5">Please enter your email and password.</div>
          <form action="" method="POST">
          <div class="field">
            <div class="control">
              <input class="input is-large" type="text" placeholder="Email" autofocus="" name="username">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-large" type="password" placeholder="Password" name="password">
            </div>
          </div>
          <label class="checkbox" style="margin: 20px;">
            <input type="checkbox">
            Remember me
          </label>
          <input type="submit" class="button is-block is-danger is-large is-fullwidth" value="Login">
          <p class="has-text-grey">
            <a href="">Sign Up</a> &nbsp;·&nbsp;
            <a href="">Forgot Password</a> &nbsp;·&nbsp;
            <a href="">Need Help?</a>
          </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>