<figure class="image">
  <img src="https://cdn.pixabay.com/photo/2016/11/21/13/04/alcoholic-beverages-1845295_1280.jpg"
    alt="Oops! Something went wrong displaying this image :(">
  <div class="block is-overlay">
    <div class="hero-body">
      <div class="container">
        <div class="block">
          <h1 class="title is-1 has-text-white"=>Do you love the taste of a cold beer in the hot summer?</h1>
          <p class="content is-medium has-text-white">Or maybe just a cola?</p>
        </div>
      </div>
    </div>
  </div>
</figure>

<section class="hero is-warning is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="block">
        <h1 class="title is-1"=>Then this is a place for you</h1>
        <p class="content is-medium">A home in the world wide web. Everythin' bout drinkin'!</p>
      </div>
    </div>
  </div>
</section>

<figure class="image">
  <img src="https://cdn.pixabay.com/photo/2015/07/10/17/53/cheers-839865_1280.jpg"
    alt="Oops! Something went wrong displaying this image :(">
  <div class="block is-overlay">
    <div class="hero-body">
      <div class="container">
        <div class="block">
          <h1 class="title is-1 has-text-white">Joyful drinking experiences are meant to be shared!</h1>
          <p class="content is-medium has-text-white">Get some inspiration <a href="/blogposts">here</a></p>
        </div>
      </div>
    </div>
  </div>
</figure>

</div>

<section class="hero is-dark is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="block">
        <h1 class="title is-1">So, what are you wating for? Get going browsin'! </h1>
      </div>
    </div>
  </div>
</section>
</div>
</article>