<figure class="image">
  <img src="https://cdn.pixabay.com/photo/2018/05/31/16/51/glass-of-beer-3444480_1280.jpg">
  <div class="block is-overlay">
    <div class="hero-body">
      <div class="container">
        <div class="block">
          <h1 class="title is-1 has-text-white"=>Beer</h1>
          <p class="content is-medium has-text-white">Let's get hammered!</p>
        </div>
      </div>
    </div>
  </div>
</figure>

<section class="hero is-warning is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="block">
        <h1 class="title is-1"=>Start</h1>
        <p class="content is-medium">Welcome to my website!</p>
      </div>
    </div>
  </div>
</section>

<figure class="image">
  <img src="https://i.imgur.com/OBXSp8n.gif">
  <div class="block is-overlay">
    <div class="hero-body">
      <div class="container">
        <div class="block">
          <h1 class="title is-1 has-text-white">Drinking is tasty</h1>
          <p class="content is-medium has-text-white">And also fun!</p>
        </div>
      </div>
    </div>
  </div>
</figure>

<div class="block">
  <article class="message is-dark">
    <div class="message-header">
      <p>About us</p>
    </div>
    <div class="message-body">
      <p class="content is-medium">This is the about page.Lorem ipsum dolor sit amet, consectetur adipiscing eliteeeeeee.
        Quisque a pulvinar risus. Aliquam malesuada venenatis nulla a suscipit. Praesent cursus, massa sed vehicula
        iaculis, odio mi varius lectus, vel volutpat ex odio in nisi. Etiam et ultricies libero. Nam maximus, metus et
        luctus vestibulum, magna risus dictum lorem, eu congue nisi arcu in nunc. Sed imperdiet nunc quis aliquam
        faucibus. Nullam efficitur sodales sapien, a laoreet lectus facilisis vel.
      </p>
    </div>

  <section class="hero is-dark is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="block">
        <h1 class="title is-1">So, what are you wating for? Get started and share your drinking experience
          <a href="/createblogpost"class="text-has-warning">here!</a></h1>
      </div>
    </div>
  </div>
</section>
</div>
  </article>