</div>
<div class="block">
    <article class="message is-warning">
        <div class="message-header">
            <p></p>
        </div>
        <div class="message-body">
            <p class="content is-medium">
                {{#unless isLoggedIn}}
            <p>You need to login to see this page</p>
            {{/unless}}
            {{#if isLoggedIn}}
            {{#if dbError}}
            <p>Cant display page right now, try again later</p>
            {{else}}
            <form method="POST">
                <div class="column is-half">
                    <h1 class="title text-has-dark">Question to answer: <input class="form-input" type="text"
                            name="question" value="{{faq.question}}"></h1>
                    <textarea required type="submit" class="textarea is-dark" placeholder="Answer question here..."
                        name="answer">{{faq.answer}}</textarea>
                    <div class="block"></div>
                    <a href="/faq" class="button is-dark">Cancel</a>
                    <input class="button is-warning" type="submit" value="Submit your answer!">
                </div>
            </form>
            {{/if}}
            {{/if}}
            </p>
        </div>
    </article>
</div>